
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #212529;
    background-color: #fff;
}

#container {
    margin: auto;
    font-weight: 400;
    max-width: 991px;
    line-height: 1;
    display: flex;
    flex-direction: column;
}



header {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

/* le bloc lest est utilisé dans le header et le footer*/
.blocleft {
    background-color: #FFEA00;
    width: 30%;
    margin-left: auto;
    padding-top: 20px;
}

header .blocright {
    width: 70%;
    padding-left: 5%;
    padding-top: 71px;
}

/* le big container contient un aside et un main*/
.bigcontainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: auto;
}

/* le aside contient une section "à propos de moi"* et une section " contact" */
aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
}

address {
    padding-left: 20%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}


.contact section {
    padding-bottom: 20px;
}

.apropos section {
    padding-bottom: 229px;
}
/* l'écran titre et le bloc "jaune" servent à mettre en couleur les titres et les paragraphe du aside. */
.ecrantitre {
    background-color: #212121;
    color: #FFEA00;
    padding: 5px;
}

.blocjaune {
    background-color: #FFEA00;
    display: flex;
    flex-direction: column;
}

.apropos {
    text-align: justify center;
}

/* le main contient la section "xp" ( expériences pro) et la section formation*/

main {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    text-align: left;
    padding-top: 0;
}

h2 {
        margin-bottom: 10px;
    }

/* le bloc formation contient 2 blocs "dates" et "info" et 1 titre "title*/
.formation {
    display: flex;
    flex-wrap: wrap;
}

/* le bloc XP contien 2 blocs "dates" et "info" et 1 titre "title"*/
.xp {
    display: flex;
    flex-wrap: wrap;
}

/* le bloc title regroupes les titres des blocs "formations" et XP* mais également du footer*/
.title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pucestitle {
    font-size: 1em;
    color: #FFEA00;
    display: block;
}

.title h2 {
    width: 80%;
}

.puces {
    width: 5%;
}

.dates {
    width: 30%
}

.info {
    width: 60%;
}

li {
    display: flex;
    text-align: justify;
    width: 100%;
}

main ul {
    display: block;
    flex-direction: column;
    margin: 0;
    margin: auto;
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* le footer contient les loisirs et les recommandations */
footer {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

    footer ul {
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 34px;
    }

li {
    padding-bottom: 20px;
}

footer li {
    display: flex;
    margin: auto;
    font-size: 2rem;
    margin: auto;
}

footer .liste {
    width: 50%;
    margin-top: 20px;
}

.bigcontainer li {
    margin-top: 20px;
}


footer .blocleft {
    padding-top: 0;
}

.blocrightfoot {
    width: 70%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    padding-left: 5%;
}

.liste {
    display: flex;
    flex-direction: column;
}


.txtcolor {
    color: #FFEA00;
}

/* mise en page*/
h1 {
    font-size: 30px;
}

h1, h3, h4 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
}

header h2 {
    font-weight: normal;
}

h2 {
    text-align: left;
    text-transform: uppercase;
}

h5, h6 {
    font-weight: normal;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0px;
}



h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 13px;
}

main p {
    text-align: justify;
    margin: 0;
}

footer address {
    padding: 0;
    margin: 0;
}

/* mise en page des UL dans les blocs formations et expériences profesionnelles*/





.blocjaune p {
    padding-top: 10px;
    padding-right: 10px;
    line-height: 1.5;
    margin-left: 30px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.bordure {
    border-bottom: 3px #FFEA00 solid;
}

.blocjaune h2 {
    text-align: center;
}



.h2 {
    width: 90%;
    display: flex;
}


/* mise en page des icones dans les titres formations, xp et recoomandation*/
.fa-graduation-cap {
    margin-right: 20px;
}

.fa-briefcase {
    margin-right: 20px;
    color: #FFEA00;
}

.fa-edit {
    margin-right: 20px;
    color: #FFEA00;
}
/*  mise en page des icones du footer */
.fa-futbol {
    font-size: 1em;
}

.fa-theater-masks {
    font-size: 1em;
}

.fa-chess-king {
    font-size: 1em;
}
/* media query */
@media all and (max-width: 800px) {
    #container {
        max-width: none;
        font-size: small;
        margin: 0;
        line-height: 1;
    }

    header {
        flex-direction: column;
    }

    .blocleft {
        width: 100%;
    }

    .blocright {
        width: 100%;
        padding-top: 30px;
    }

    .bigcontainer {
        flex-direction: column-reverse;
    }

    main {
        width: 100%;
        padding-left: initial
    }

    .blocjaune {
    }

    aside {
        width: 100%;
        margin: auto;
        margin-left: initial;
    }


    footer {
        flex-direction: column;
        margin: 0;
    }

    .blocleftfoot {
        padding-left: initial;
    }

    p {
        margin: 0;
    }
}
